.mat-tree {
    width: fit-content;
}

.tree-node {
    transition: background-color 1s;
}

.selected-node {
    background-color: #007bff;
    color: white;
}

.highlight-node {
    background-color: #e62f2f;
    color: white;
}

.mat-option {
    height: 50px;
    line-height: 20px;
}

.option-title {
    font-size: 17px;
    font-weight: bold;
}

.option-description {
    font-size: 15px;
}

.metric-title{
    font-size: 17px;
    font-weight: bold;
    color: rgb(12, 52, 182);
}
.metric-description{
    font-size: 15px;
    color: rgb(12, 52, 182);
}.example-full-width{
    width: 100%;
}